.mySpinner {
  color: black;
  width: 130px;
  height: 130px;
}
.containerLoading {
  height: 50vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
}
